# SPDX-License-Identifier: MIT
---
- name: Reboot system
  include_tasks: tasks/reboot.yml

- name: Restart waagent
  service:
    name: waagent
    state: restarted

- name: Reload udev
  command: udevadm control --reload
  changed_when: true

- name: Trigger udev for infiniband
  command: udevadm trigger --subsystem-match=infiniband
  changed_when: true

- name: Reload sysctl
  command: sysctl --system
  changed_when: true

- name: Restart systemd-modules-load
  service:
    name: systemd-modules-load
    state: restarted

- name: Restart containerd service
  service:
    name: containerd
    state: restarted

- name: Restart docker service
  service:
    name: docker
    state: restarted
